<template>
  <header class="base-header">
    <h3 v-if="GET_CART_PRICE">
      Товаров в корзине на: {{ GET_CART_PRICE }} {{ GET_CURRENCY_NAME }}
    </h3>
    <h3 v-else>
      Товаров в корзине нет
    </h3>
  </header>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'BaseHeader',
  computed: {
    ...mapGetters(['GET_CART_PRICE', 'GET_CURRENCY_NAME']),
  },
}
</script>

<style lang="scss">
  .base-header {
    padding: 10px;
    background-color: #e5e5e5;
  }
</style>
