<template>
  <div class="card-product">
    <p class="card-product__title">{{ productItem.title }}</p>
    <img :src="productItem.image" :alt="productItem.title" class="card-product__image" />
    <p class="card-product__price">Цена: {{ productItem.price }} {{ GET_CURRENCY_NAME }}</p>
    <div class="card-product__amount">
      <input v-model.number="inputAmount" type="number" />
      <span>кг</span>
    </div>
    <button class="card-product__button" @click="onClickAddToCart(productItem)">
      В корзину
    </button>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'; 

export default {
  name: 'CardProduct',
  props: {
    productItem: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      inputAmount: '',
    };
  },
  computed: {
    ...mapGetters(['GET_CURRENCY_NAME']),
  },
  methods: {
    ...mapMutations(['ADD_CART_PRODUCT']),
    onClickAddToCart(productItem) {
      if (!this.inputAmount) {
        return;
      }
      
      this.ADD_CART_PRODUCT({
        ...productItem,
        amount: this.inputAmount,
      });

      this.inputAmount = '';
    },
  },
};
</script>

<style lang="scss">
  .card-product {
    width: 33.3333%;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #908888;
    border-radius: 5px;
    text-align: center;
    padding: 10px;

    @media screen and (max-width: 840px) {
      width: 50%;
    }

    @media screen and (max-width: 420px) {
      width: 100%;
    }

    &__image {
      width: 100%;
    }

    &__button {
      padding: 5px;
      margin: 5px;
    }
  }
</style>
