<template>
  <ul class="cart-list">
    <li v-for="item in cartReverse" :key="item.id">
      {{ item.title }} | Цена: {{ item.price }} | Количество: {{ item.amount }}
    </li>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['GET_CART_PRODUCTS']),
    cartReverse() {
      return this.GET_CART_PRODUCTS.reverse();
    },
  },
};
</script>

<style lang="scss"></style>