<template>
  <div class="product-list">
    <CardProduct 
      v-for="product in listProducts"
      :key="product.id"
      :productItem="product"
      class="product-list__item"
    />
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import CardProduct from '@/components/CardProduct.vue';

export default {
  data() {
    return {
      listProducts: [],
    };
  },
  methods: {
    ...mapActions(['API_GET_PRODUCTS_LIST']),
    startPricesMonitoring() {
      clearInterval(this.intervalId);
      this.intervalId = setInterval(this.getListProducts, 2000);
    },
    async getListProducts() {
      this.listProducts = await this.API_GET_PRODUCTS_LIST();
    },
  },
  created() {
    this.getListProducts();
    this.startPricesMonitoring();
  },
  beforeDestroy() {
    clearInterval(this.intervalId);
  },
  components: { 
    CardProduct
  },
};
</script>

<style lang="scss">
  .product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
</style>
