<template>
  <div id="app">
    <BaseHeader />
    <ProductList />
    <CartList />
  </div>
</template>

<script>
import BaseHeader from './components/BaseHeader.vue';
import ProductList from './components/ProductList.vue';
import CartList from './components/CartList.vue';

export default {
  name: 'App',
  components: {
    BaseHeader,
    ProductList,
    CartList,
  },
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}
</style>
